* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(250, 34, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 1000;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.inputs button,
.inputs input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 16px;
}

#result {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 1000;
  font-style: normal;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
